@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

/* .logo {
  position: absolute;
  width: 120px;
  height: 43.3px;
  left: 144px;
  top: 32px;
} */
/* 
header {
  position: static;
  width: 1440px;
  height: 92px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
} */

.red-text {
  font-family: Courier Prime;
  font-style: normal;
  font-weight: normal;
  font-size: 22.781px;
  line-height: 32px;
  color: #e73f39;
}

.title-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  font-size: 58.455px;
  line-height: 72px;
}

.bold-title-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bolder;
  font-size: 58.455px;
  line-height: 72px;
  color: #132631;
}

.bold-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #132631;
  margin: 0px 12px;
}

.bold-subtitle-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36.49px;
  line-height: 44px;
  color: #132631;
}

.normal-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 20.25px;
  line-height: 28px;
  color: #132631;
}

.date-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
