@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

.container-big {
  position: relative;
  width: 1440px;
  height: 1596px;
  background: #ffffff;
}

.logo {
  position: absolute;
  width: 120px;
  height: 43.3px;
  left: 1176px;
  top: 71px;
}

.header-title {
  position: static;
  width: 684px;
  height: 72px;
  left: 0px;
  top: 0px;
  font-family: Montserrat;
  font-style: normal;

  font-size: 65.758px;
  line-height: 72px;
  color: #132631;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
}

.inside-header {
  position: static;
  width: 684px;
  height: 64px;
  left: calc(50% - 684px / 2);
  top: calc(50% - 64px / 2);

  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 22.78px;
  line-height: 32px;
  color: #132631;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 684px;
  height: 128px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 48px 0px;
}

.header-auto-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 684px;
  height: 366px;
  left: 142px;
  top: -20px;
}

.red-text-2 {
  position: static;
  width: 315px;
  height: 32px;
  left: 0px;
  top: 96px;
  font-family: Courier;
  font-style: normal;
  font-weight: normal;
  font-size: 22.78px;
  line-height: 32px;
  color: #e73f39;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.item {
  position: absolute;
  width: 765px;
  height: 156px;
  left: 146px;
  top: 224px;
}

.btn-container {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 851px;
  top: 320px;
  background: #e73f39;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;

  position: absolute;
  width: 706px;
  height: 60px;
  left: 146px;
  top: 320px;
}

.input-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;

  color: #899398;
}

/*Grid*/

.grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 1152px;
  height: 852px;
  left: 142px;
  top: 454px;
}

.grid-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  flex-wrap: wrap;
  position: static;
  width: 1180px;
  height: 264px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.picture-grid {
  position: absolute;
  width: 264px;
  height: 264px;

  background: #c4c4c4;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.perfil-buscador {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 264px;
  height: 264px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}
