@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

.logo {
  position: absolute;
  width: 120px;
  height: 43.3px;
  left: 144px;
  top: 32px;
  background: #ff4338;
}

header {
  position: static;
  width: 1440px;
  height: 92px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
